.hero__content{
  display: flex;
  flex-direction: row;
}

@media (max-width:1025px){
  .hero__content{
    flex-direction: column;
  }
  .hero__visual, .hero__text{
    flex: 1;
    width: 70%;
  }
}
.hero__text{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hero__cta{
  display: flex;
  flex-direction: row;
}
.hero__text .hero__cta a{
  flex: 1;
}
@media (max-width:939px){
  .hero__cta{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }
}
.hero__visual{
  flex: 1;
  padding: 0px 5%;
}
.footer .container{
  background-color: rgb(24, 23, 23);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  border-radius: 20px 20px 0 0;
  padding: 3% 3% 0 3%;
}
.footer{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.footer__content{
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}
@media (max-width:478px){
  .footer__content{
    flex-direction: column;
    align-items: center;
  }
}
.footer__section{
  flex:1;
}
.footer__bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  font-family: 'Oooh Baby';
  flex: 1;
}
.footer .container .footer__content .footer__section ul li a{
  text-decoration: none;
  color: whitesmoke;
}
h4{
  font-family: 'Oooh Baby';
  font-size: 1.6rem;
}
.footer .container .footer__content .footer__section p{
  color: whitesmoke;
}
